{% extends 'employees\employee_base.html' %}

{% block title %} Employee Index {% endblock %}

{% block header %} Employee Index {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello {{ logged_in_employee.name }}! <br />

    <h3> Today's Customers </h3>
    
    <ul>
      {%for customer in todays_customer%}

      Customer Name: {{ customer.name }}<br />
      Customer Address: {{ customer.address }}<br />
      Pickup Day: {{ customer.weekly_pickup }}<br />
      {{ pickup_needed }}<br />
      {% endfor %}
    </ul>
    
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}