{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hello {{ logged_in_employee.name }}<br /> 
Type in a day to show which customers you have on it.
<form action="{% url 'employees:index' %}" method="post">
  {% csrf_token %}
  Day: <input type="text" name="day" id="day"><br />
  <input type="submit" value="Search"class="btn btn-primary">
</form>
        
  {% for customer in customer_in_zip %}
    <hr>
    Customer Name: {{ customer.name }}<br />
    Customer Address: {{ customer.address }}<br />
    Customer ZipCode: {{ customer.zip_code }}<br />
    Pickup Day: {{ customer.weekly_pickup }}<br />
   
        
  {% endfor %}  

  

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}