{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hello {{ logged_in_employee.name }}<br />       
        
  {% for customer in customer_in_zip %}
    <hr>
    Customer Name: {{ customer.name }}<br />
    Customer Address: {{ customer.address }}<br />
    Customer ZipCode: {{ customer.zip_code }}<br />
 

        
    <button><a href="{% url 'employees:confirm_pickup' customer.id %}">Confirm Trash Pickup</a></button><br />
        

  {% endfor %}  

    <h2> Today's Customers </h2>
    <a href="{% url 'employees:employee_index' %}" class="btn btn-primary btn-sm active">Click for Index</a>
   
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}